/* 輔色 */
:root {
    --primary-400: #57a203;
    --primary-100: #F5FEE7;
    --neutral-0: #ffffff;
    --neutral-100: #F8f9fa;
    --neutral-300: #dee2e6;
    --neutral-600: #6c757d;
    --neutral-900: #212529;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;

}

a {
    text-decoration: none;
    color: inherit;
}


div.line>a {
    color: var(--primary-400);
    text-underline-offset: 4px;
    display: block;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--neutral-900);
}

/* 通用樣式 */
.container {
    width: 856px;
    margin: 0 auto;
}

.h1 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

.h3 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;

}

.h4 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.h5 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.textsm {
    font-size: 14px;
    font-weight: 400;
}

.text-white {
    color: var(--neutral-0);
}

.text-neutral-600 {
    color: var(--neutral-600);
}

.text-primary-400 {
    color: var(--primary-400);
}

.bg-primary-100 {
    background-color: var(--primary-100);
}

.bg-neutral-100 {
    background-color: var(--neutral-100);
}

.p-32 {
    padding: 32px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;

}

.py-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.mb-48 {
    margin-bottom: 48px;

}

.pb-48 {
    padding-bottom: 48px;
}

.pr-8 {
    padding-right: 8px;
}
.d-flex {
    display: flex;
}
.mb-4 {
    margin-bottom: 4px;
}
.mr-897{
    margin-right: 897px;
}
.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

/* 頁面設定 */
.header {
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 152px 0;
    text-align: center;
}



.endtitle {
    font-size: 28px;

}

.quote {
    border-radius: 12px;
    text-align: center;
}

.info img {
    margin-right: -110px;
    margin-left: -110px;
    width: 1076px;
}

.line {
    border-bottom: 1px solid var(--neutral-300);
}

.desc {
    border-left: 1px solid var(--neutral-900);
    padding-left: 8px;
}

.list {
    list-style-type: disc;
    padding-left: 24px;
}

.conceot-item {
    padding-left: 12px;
    border-left: 3px solid var(--neutral-300);
}

.bi {
    padding-right: 8px;
    vertical-align: bottom;
}

.footer {
    text-align: center;
}

.mr-48 {
    margin-right: 48px;
}

.align-items-center {
    align-items: center;
}
.justify-content-sb{
    justify-content: space-between;
}
.pr-48
{
    padding-right: 48px;
}
.my-16 {
    margin-top:  16px;
    margin-bottom: 16px;
}
.mr-40{
    margin-right: 40px;
}
.container2{
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 16px;
}
.m17
{
    margin-top: 17px;
    margin-bottom: 17px;
}