.category .active{
	 color: var(--primary-400);
}
.page-item .btn{
    padding: 8px 15px;
    border-radius: 0;
    font-weight: 400;
}
.page-item .active{
    background-color: var(--primary-300);
    font-weight: 500;
}
main{
    margin-left: 57px;
  margin-right: 57px;
}
.container2{
    max-width: 100%;
    width: 1296px;
}